.backToTop{
	background: $backToTop;
	bottom: 1em;
	color: $backToTopFont;
	border: 1px solid $borderColor;
	border-radius: 50%;
	display: none;
	height: 5em;
	line-height: 5em;
	opacity: 0.6;
	position: fixed;
	right: 1em;
	text:{
		align: center;
		decoration: none;
	}
	width: 5em;
	z-index: 1000;
}

.pageWrapper{
	background: $offWhite;
	border: 8px solid $offWhite;
	margin: 0 auto;
	position: relative;
	z-index: 10;

	@media screen and (max-width: 1290px){
		max-width: 465px;
	}

	@media screen and (min-width: 1291px){
		width: 41%;
	}
}

.page{
	// @media screen and (min-width: 768px){
	// 	float: right;
	// 	width: 75%;
	// }

	border: 1px solid #dedede;
	padding: 6.5%;
}

.col2{
	@media screen and (min-width: 581px){
		float: left;
		margin-right: 4%;
		width: 48%;
	}

	& + .col2{
		margin-right: 0;
	}
}

.v65-featureRight, .v65-right, 
.v65-featureLeft, .v65-left, 
.v65-border{
	@include boxSizing;
}

.featureImages{
	@media screen and (max-width: 480px){
		display: none;
	}
}

.featureImage{
	background: {
		repeat: no-repeat;
		size: contain;
	}
	min-height: 570px;
	min-width: 400px;
	padding-top: 41.5%;
	position: absolute;
	top: 0;
	width: 29%;

	&.leftFeatureImage{
		background-image: image-url('backgrounds/history-left.jpg');
		left: 0;
	}

	&.rightFeatureImage{
		background-image: image-url('backgrounds/history-right.jpg');
		right: 0;
	}
}