// Colors
$brown: #7d746b;
$brown-dark: #474037;
$grey: #575757;
$grey-light: #dcddd9;
$grey-dark: #333;
$black: #000;
$white: #fff;
$offWhite: #f1f1f1;
$blue: #369;
$blue-light: #3b73ac;
$blue-dark: #2e5b87;
$offBlack: #111;
$flatgrey: #999999;

// Fonts
@mixin garamond-regular{
	font:{
		family: "adobe-garamond-pro-n4","adobe-garamond-pro",sans-serif;
		style: normal;
		weight: 400;
	}
}

@mixin garamond-italic{
	font:{
		family: "adobe-garamond-pro-i4","adobe-garamond-pro",sans-serif;
		style: italic;
		weight: 400;
	}
}

@mixin garamond-bold{
	font:{
		family: "adobe-garamond-pro-n7","adobe-garamond-pro",sans-serif;
		style: normal;
		weight: 700;
	}
}

@mixin garamond-bold-italic{
	font:{
		family: "adobe-garamond-pro-i7","adobe-garamond-pro",sans-serif;
		style: italic;
		weight: 700;
	}
}

@mixin proxima-nova-bold{
	font:{
		family: "proxima-nova-n7","proxima-nova",sans-serif;
		style: normal;
		weight: 700;
	}
}

@mixin proxima-nova-black{
	font:{
		family: "proxima-nova-n9","proxima-nova",sans-serif;
		style: normal;
		weight: 900;
	}
}

// Font Colors
$fontColor: $offBlack; // Main Body Content font color
$linkColor: $blue; // Main Body content link color

// Background Color
$backgroundColor: $brown; // Main Background Color
$homepageContentColor: $white; // Homepage content background color
$contentBackgroundColor: $white; //Content background color
$contentBoxShadow: $flatgrey;

// Heading Colors
$headingFontColor: $brown-dark; // Default Heading Font Color
$headerFontColor: $brown-dark; // Font Color outside the container
$headerFontColorHover: $black; // Hover font color outside the container

// User Tools Colors
$topBarColor: $black; // User Tools background color
$userToolsLinkColor: $grey-light; // Link Color for user tools

// Navigation Colors
$navLinkColor: $white; //Font Color for main navigation
$navLinkHover: $offWhite; //Font Hover for main navigation

$navSelected: $white;
$leftNavSelected: $black;

$subNavLinkColor: $grey; //Font Color for sub navigation
$subNavLinkHover: $black; //Font Color for sub navigation hover
$subNavBackgroundColor: $white; //Background Color for sub navigation

// Footer Colors
$footerColor: $grey; //Footer Color
$footerLink: $white; // Footer Link
$footerLinkHover: $offWhite; // Footer Link Hover

$footerFontColor: $white; //Font Color outside the container
$footerFontColorHover: $offWhite; // Hover font color outside the container

// Border Colors
$borderColor: $grey-light; // Main Border Color

// Button Colors
@mixin mainButtonColor() {
	@include gradient($blue-light, $blue-dark); // Main Button Color
} 

@mixin mainButtonHover() {
	@include gradient(lighten($blue-light, 5%), lighten($blue-dark, 5%));
} 

$mainButtonText: $white; // Main Button Font Color
$boxShadowColor: $blue; // Box Shadow Color
$boxShadowHover: $blue-light; // Box Shadow Hover Color

@mixin altButtonColor() {
	@include gradient($grey-light, $grey-dark); // Main Button Color
} 

@mixin altButtonHover() {
	@include gradient(lighten($grey-light, 5%), lighten($grey-dark, 5%));
} 

$altButtonText: $black; // Alt Button Font Color
$altBoxShadowColor: $grey-light; // Box Shadow Color

// Form Colors
$quanityForm: $grey-light; // Add to cart quanity input form field background color.
$quanityFormFont: $black; // Add to cart quanity input form field font color.

// Back to Top Colors
$backToTop: $grey-dark; // Back to top button color
$backToTopFont: $white; // Back to top button font color

// Logo Settings
$logo: 'logo.png';
$logo-retina: 'logo@2x.png';

// Global Fonts
$georgia: Georgia, serif;
$lucida: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;	

// Global Variables
$maxWidth: 990px;
$fontFamily: $lucida;
$headingFontFamily: $georgia;


@mixin gradient($color1, $color2){
	background-color: $color1;
	background-image: -webkit-linear-gradient(top, $color1, $color2);
	background-image: -moz-linear-gradient(top, $color1, $color2);
	background-image: -ms-linear-gradient(top, $color1, $color2);
	background-image: -o-linear-gradient(top, $color1, $color2);
	background-image: linear-gradient(top, $color1, $color2);
}

@mixin boxSizing{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.hideText{
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	
	a{
		display:block;
		height:100%;
	}
}